@font-face {
    font-family: 'Clarendon-Text-Pro';
    src: url('/assets/fonts/Clarendon-Text-Pro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  html {
    height: 100%;
    margin: 0;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #FAFAFA;
    margin: 0;
    padding-top: 150px;
    background: url('/images/bg_woodgrain_lighter.jpg');
    background-size: cover;
}

.container-parent {
    display: grid;
    height: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* Footer */

#footer {
    grid-area: footer;
    height: 150px;
    background-color: black;
    color: white;
    background-image: url("/images/graywood.jpg");
    width: 100%;
}

/* Header */

#header {
    background-color: #ffffff;
    width: 100%;
    height: 18vh;
    border-radius: 0px;
    grid-area: header;
    min-height: 100%;
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #00acb0;
    padding: 5px;
    color: #ece7e7;
}

#title {
    display: inline;
    font-family: 'Clarendon-Text-Pro';
    padding-left: 35vw;
    padding-bottom: 50%;
    float: left;
}

#logo {
    width: 10vw;
    height: inherit;
    padding-left: 1vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    float: left;
}

/* Buttons */

.redButton {

}

.whiteButton {

}

/* form */

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

#login {
    width: 75vw;
    margin: 0 auto;
    padding-top: 10%;
    
}



.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

/* UPLOAD */
.uploadContainer {
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
}

.uploadImage {
    width: 250px;
    height: 250px;
}

.uploadImage {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: 500px;
    /* height: 250px; */
}

.imageForDetails {
    margin: 0 auto;
    width: 25%;
    /* height: 250px; */
}

.registration-container {
    width: 600px;
    margin: 0 auto;
}

.registration-inputs-container {
    width: 500px;
    margin: 30px auto;
    padding: 20px;
}

.add-partner-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 200px;
}

.adminTable {
    width: 80%;
    margin: 0 auto;
}

.postDialog {
    width: 600px;
    height: inherit;
}

.upload-card {
    display: inline-block;
    width: 400px;
    height: 435px;
}

.postCard {
    margin: 0 auto;
    width: 50%;
    align-items: center;
}

.postTable {
    width: 50%;
}

.edit-media-container {
    width: 400px;
}

.edit-image {
    width: 30%;
    height: auto;
}

div.edit-media-container > div > div > div.uppy-DragDrop-inner {
    height: 10px;
}

div.edit-media-container > div > div.uppy-Root uppy-DragDrop-container uppy-DragDrop--is-dragdrop-supported {
    width: 10px;
}

#newPost {
    display: inline-block;
    width: 360px;
    height: 273px;
    margin-bottom: 19px;
    padding-bottom: 162px;
}

.edit-text-fields {
    margin-top: 25px;
    margin-bottom: 20px;
}

.upload-image-profile-picture {
    width: 30%;
    height: auto;
}

/* Partner Page */
#partnerPagePhoto {
    width: inherit;
    max-width: 20vw;
    height: 15vw;
    float: left;
}

.partner-page-header {
    display: inline-block;
}

.partner-page-header2 {
    display: inline-block;
    margin-left: 30px;
}

.partner-page-header-container {
    margin-left: 4%;
    margin-right: 4%;
}

.social-crate {
    font-family: Clarendon-Text-Pro;
    margin: 0 auto;
}