body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

html {
    height: 100%;
}

.item-a {
    grid-area: header;
    min-height: 100%;
   }
  .item-b {
    grid-area: main;
    min-height: 100%;
   }
   .item-c {
    grid-area: footer;
    min-height: 100%;
    background-color: white;
   }

   .container {
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #00acb0;
    padding: 5px;
    color: #ece7e7;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

/* UPLOAD */
.uploadContainer {
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
}

.uploadImage {
    width: 250px;
    height: 250px;
}